.world {
  display: flex;
  height: 600px;
  margin-bottom: 20px;
  box-shadow:
    0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
  width: 600px; }
  .world .world-inner {
    width: 600px;
    overflow: hidden;
    background-size: 288px;
    position: relative; }

.world .world-inner .score {
  position: fixed;
  z-index: 4;
	font-size: 90px;
	color: #fff;
	font-weight: 800;
	text-align: center;
  top: 25px;
	-webkit-user-select: none;
  left: 0;
	right: 0; }

.world .world-inner .ground {
	z-index: 5;
	position: fixed;
	bottom: 100px;
	height: 80px;
	width: 600px;
	left: 0;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.world .world-inner .exit-game {
	top: 0;
	right: 0;
	z-index: 5;
	display: flex;
	border-radius: 0 0 0 100%;
	position: fixed;
	transition: .2s all;
  box-shadow:
    0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
	width: 40px;
	cursor: pointer;
	height: 40px;
	padding: 5px;
	flex-direction: row-reverse;
	background-color: #F44336; }
	.world .world-inner .exit-game:hover {
		background-color: #D32F2F; }
	.world .world-inner .exit-game i {
		-webkit-user-select: none;
		font-size: 20px;
		color: #fff; }