.world {
  display: flex;
  height: 600px;
  margin-bottom: 20px;
  box-shadow:
    0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
  width: 600px; }
  .world .world-inner {
    width: 600px;
    overflow: hidden;
    background-size: 288px;
    position: relative; }

.world .wall {
  position: absolute;
  width: 50px;
  height: 600px; }
  .world .wall-inner {
    height: 600px;
    position: relative; }
    .world .wall-inner .wall-top,
    .world .wall-inner .wall-bottom {
      position: absolute;
      background-color: #000;
      left: 0;
      right: 0;
      width: 50px; }
    .world .wall-inner .wall-top {
      top: 0; }
    .world .wall-inner .wall-bottom {
			color: #fff;
			font-size: 18px;
      bottom: 0; }

.world .world-inner .score {
  position: fixed;
  z-index: 4;
  top: 75px;
  left: 0;
	right: 0;
	text-align: center;
  font-size: 60px;
  color: #fff; }