.start-screen {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow:
    0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
  display: flex; }

	.start-screen h1 {
		font-size: 36px;
    margin: 0 auto;
    text-align: center;
		color: #fff;
		padding: 20px 80px;
		margin-bottom: 30px; }

	.start-screen button {
    margin: 0 auto;
		padding: 10px 60px;
		-webkit-user-select: none;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
		outline: none;
		border: none;
		color: #fff;
		border-radius: 15px; }
    .start-screen button span {
      color: #fff; }
		.start-screen button:active {
			box-shadow: 0 5px !important;
			transform: translateY(5px); }

.start-screen p {
  padding: 16px;
  width: 250px;
  text-align: center;
  margin: 0 auto 40px auto;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  color: #fff;
  font-size: 24px; }